:root{
  /* Primary Colors */
  --Pink: #ff52bf;
  --Light-Pink: #ff8fd8;
  --Light-Red: #ff4242;
  --Very-Dark-Cyan: #00252e;
  --Very-Pale-Blue: #f5faff;
  --Bg-color: #f6fbff;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}
img{
  width: 100px;
}
h2{
  font-size: 2.1rem;
}
h3{
  font-size: 1.8rem;
}
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 0 15px;
  margin-bottom: 80px;
}
.navbar img{
  width: 130px;
  object-fit: contain;
}
.navbar button{
  width: 100px;
  background-color: var(--Very-Pale-Blue);
  border: 1px solid var(--Pink);
  color: var(--Pink);
  border-radius: 25px;
  padding: 8px;
}
/* .main-content{
  padding: 15px 15px 0 15px;
} */
.first-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 30px;
}
.first-info h1{
  color: var(--Very-Dark-Cyan);
  margin-bottom: 12px;
  font-size: 2.4rem;
}
.first-info p{
  color: var(--Very-Dark-Cyan);
  font-family: 'Open Sans';
  margin-bottom: 32px;
  font-size: 1.4rem;
}
.first-info button{
  font-family: 'Poppins';
  border: none;
  border-radius: 25px;
  color: var(--Very-Pale-Blue);
  background-color: var(--Pink);
  padding: 12px;
  width: 200px;
  margin-bottom: 48px;
}
.first-info img{
  width: 300px;
  margin-bottom: 80px;
}
.stats{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
.communities{
  margin-bottom: 80px;
  margin-right: 24px;
}
.communities img, .messages img{
  width: 25px;
}
.stats-info p:nth-child(1){
  font-size: 4rem;
  color: var(--Very-Dark-Cyan);
}
.stats-info p:nth-child(2){
  font-size: 1rem;
  font-family: 'Open Sans';
  text-align: center;
  color: var(--Very-Dark-Cyan);
}
.grow, .your{
  background-color: var(--Bg-color);
  padding: 45px 0;
}
.bg-top-grow, .bg-top-your{
  width: 100%;
  margin-bottom:-6px;
}
.bg-bottom-grow, .bg-bottom-your{
  width: 100%;
  margin-bottom: 100px;
}
.grow, .folowing, .your{
  display: flex;
  flex-direction: column;
  align-items:center ;
  padding: 0 15px;
  /* margin-bottom: 140px; */
  /* background-image: url(./images/bg-section-top-mobile-1.svg);
  background-repeat: no-repeat; */
}
.folowing{
  margin-bottom: 150px;
}
.info{
  order: 1;
}
.info h2{
  color: var(--Very-Dark-Cyan);
  text-align: center;
  margin-bottom: 16px;
}
.info p{
  color: var(--Very-Dark-Cyan);
  font-family: 'Open Sans';
  font-size: 1.4rem;
  text-align: center;
}
.img-ill{
  order: 0;
}
.img-ill img{
  width: 250px;
  margin-bottom: 65px;
}
.question-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}
.question-button p{
  color: var(--Very-Dark-Cyan);
  margin-bottom: 40px;
  font-size: 2.8rem;
  text-align: center;
}
.question-button button{
  border: none;
  background-color: var(--Pink);
  color: var(--Very-Pale-Blue);
  font-size: 1.6rem;
  font-family: 'Poppins';
  padding: 12px;
  border-radius: 25px;
  width: 220px;
  font-weight: lighter;
}
.bg-footer{
  width: 100%;
  margin-bottom: -6px;
}
.footer{
  display: flex;
  flex-direction: column;
  padding: 15px 20px 0 20px;
  background-color: var(--Very-Dark-Cyan);
  color: var(--Very-Pale-Blue);
  background-image: url(./images/bg-footer-top-mobile.svg);
  background-repeat: no-repeat;
}
.second-column{
  margin-bottom: 12px;
}
.second-column-info h3{
  margin-bottom: 12px;
}
.second-column-info p{
  font-family: 'Open Sans';
  font-size: 1.5rem;
  margin-bottom: 16px;
}
.form-footer{
  display: flex;
  flex-direction: column;
  align-items: end;
}
.form-footer input{
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 8px;
  margin-bottom: 12px;
}
.form-footer button{
  height: 50px;
  width: 130px;
  border: none;
  background-color: var(--Pink);
  color: var(--Very-Pale-Blue);
  font-family: 'Poppins';
  font-size: 1.4rem;
  border-radius: 8px;
}
.second-column{
  order: 0;
}
.first-column{
  order: 1;
  display: flex;
  flex-direction: column;
}
.icon-info{
  margin-bottom: 20px;
}
.icon-info p{
  font-family: 'Open Sans';
  font-size: 1.5rem;
}
.phone-info, .mail-info{
  display: flex;
  margin-bottom: 20px;
}
.phone-info img, .mail-info img{
  width: 20px;
  margin-right: 16px;
}
.phone-info p, .mail-info p{
  font-size: 1.5rem;
  font-family: 'Open Sans';
}
.social-networks{
  display: flex;
  align-items: center;
}
.social-networks a svg{
  width: 28px;
  margin-right: 12px;
}
.icon{
  fill: var(--Very-Pale-Blue);
}